*
{
    margin:0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
::-webkit-scrollbar /*representa a barra de rolagem*/
{
    width: 0;
    height: 0;
}
img
{
    width: 100%;

}

a{
    display: block;
    background-color: darkred;
    color: white;
    padding:20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
a :hover
{
    background-color: red;
}